#This is the .gitignore file

#Ignore results from example
rmarkdown_method/TS_results_example


#Ignore project file
TimeSeriesAnalysis.Rproj
README.Rmd

#Ignore all data in data folder
data/TS_covid
data/Tanima_RNAseq
data/AID_Robin
data/mouse_brain_data
data/genes_copt1.txt
data/raw_counts_TS
sample_file.csv


#Ignore standard stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata




docs
