#This is the .gitignore file

#Ignore results from example and other results
rmarkdown_method/TS_results_PBMC_example
rmarkdown_method/ATAXIA
rmarkdown_method/FOUNDIN-PD
rmarkdown_method/TS_results_CoV_Mech
rmarkdown_method/Nice_res_no_spikeIn
rmarkdown_method/Nice_res_with_spikeIn
rmarkdown_method/NICO_comparative_dotplots



rmarkdown_method/TS_analysis_CoV_Mech.Rmd
rmarkdown_method/TS_analysis_Nicola_KO1.Rmd
rmarkdown_method/TS_analysis_Nicola_KO3.Rmd
rmarkdown_method/TS_analysis_Nicola_KO15.Rmd
rmarkdown_method/TS_analysis_Nicola_KO39.Rmd
rmarkdown_method/TS_analysis_Nicola_KO_vs_WT_no_spike.Rmd
rmarkdown_method/TS_analysis_Nicola_KO_vs_WT.Rmd

rmarkdown_method/data

#Ignore project file
TimeSeriesAnalysis.Rproj


#Ignore all data in data folder
data/TS_covid
data/Tanima_RNAseq
data/mouse_brain_data
data/Diana_data
data/PBMC
data/murine
data/FOUNDIN-PD
data/Nicola_KO_dta
data/Nicola_KO_dta_spikeIn

Nicola_NTHL1_KO_data_scripts

#Hide raw data
data/ATAXIA

#Ignore vignettes
vignettes/.Rhistory
vignettes/TS_results_murine_example
vignettes/data
vignettes/TS_results_PBMC_example
vignettes/TS_results_celegans_example

#Ignore part of extra scripts
extra_scripts/TS_results_single_TP_test
extra_scripts/PD_clusters.R
extra_scripts/pathway_analysis.R
extra_scripts/NICO_barplots.R
extra_scripts/NICO_comparative_dotplots.R

extra_scripts/WGCNA/blockWiseModules.Rdata

#Ignore extra stuff
custom_tutorials
extra_scripts/TS_analysis_single_tp.Rmd


#Ignore standard stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.gitattributes

inst/doc
